body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.hilo {
    fill: none;
    stroke: black;
    stroke-width: 2;
}

/* Estilo para ocultar los elementos */
.oculto {
    display: none;
}
